.auth-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 20% 20%, #0b1b35, #020617 70%);
}

.auth-card {
    width: 900px;
    height: 520px;
    display: flex;
    border-radius: 18px;
    overflow: hidden;
    background: #0f172a;
    box-shadow: 0 20px 60px rgba(0,0,0,.6);
}

/* LEFT */
.auth-left {
    width: 45%;
    background: linear-gradient(135deg,#1d4ed8,#22c55e);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px;
}

.auth-left-content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.switch-mode {
    margin-top: 30px;
    padding: 12px 24px;
    border-radius: 8px;
    background: white;
    color: #111;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* RIGHT */
.auth-right {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.auth-form input,
.auth-form select {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #334155;
    background: #020617;
    color: white;
}

.auth-submit {
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg,#2563eb,#60a5fa);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.auth-error {
    color: #ef4444;
    font-size: 14px;
}
